RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://www.pansanel.net%{REQUEST_URI}

RewriteCond %{HTTP_HOST} !^www.pansanel.net$
RewriteRule ^(.*)$ https://www.pansanel.net/$1 [R=301,L]
